body {
    margin: 0;
    padding: 0;
    background-color: #808080;
}

header, #content, footer, #contentCHC{
    padding: 5px;
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    font-weight: bolder;
    text-align: center;
}

header {
    margin-bottom: 15px;
    font-size: 50px;
}

#content {
    display: grid;
    grid-template-columns: 500px 500px;
}

#contentCHC {
    display: grid;
    grid-template-columns: 300px 700px;
}

#content > div {
    width: 500px;
    height: 250px;
    border-bottom: 1px solid #808080;
}

img.avatar {
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    top: 2.5em;
    left: -10em;
    width: 150px;
    height: 150px;
}

img.avatarCHC {
    position: relative;

}

.indexlist {
    position: relative;
    top: -125px;
    right: 70px;
}

ul {
    list-style-type: none;
}

.knop {
    color: black;
    position: relative;
    bottom: 75px;
    left: 200px;
    text-decoration: none;
}

.terug {
    color: black;
    font-size: 15px;
    text-decoration: none;
    position: fixed;
    right: 450px;
}    

.info {
    border: 3px solid black;
}

.bio {
    margin-left: 25px;
    margin-right: 25px;
}

i.fa-arrow-left, i.fa-expand, i.fa-heartbeat, i.fa-bolt, i.fa-shield {
    margin-right: 5px;
}


h2 {
    font-weight: 1000;
    position: relative;
    top: -5.5em;
    left: -1.5em;
}

footer {
   margin-top: 15px; 
}