body {
    margin: 0;
    padding: 0;
    background-color: #808080;
}

header, .content, footer {
    padding: 5px;
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    font-weight: bolder;
    text-align: center;
}

header {
    margin-bottom: 15px;
    font-size: 50px;
}

.content {
    display: grid;

}

footer {
    
}